PRO_FRONTEND_IMAGE=khanchi-frontend
PRO_FRONTEND_TAG=1.0.0
PRO_FRONTEND_CONTAINER_NAME=khanchi-frontend-pro
PRO_FRONTEND_BIND_ADDRESS=127.0.0.1
PRO_FRONTEND_PUBLISHED_PORT=3001
PRO_APP_VERSION=1.0.0

PRO_NODE_IMAGE=docker.arvancloud.ir/library/node:20-alpine
PRO_APK_MIRROR=https://mirror.arvancloud.ir/alpine
PRO_NPM_REGISTRY=https://repo.hmirror.ir/npm
PRO_NEXT_PUBLIC_SITE_URL=https://khanchirestaurant.com
PRO_SITE_ALLOW_INDEXING=true
PRO_GOOGLE_SITE_VERIFICATION=
